body
{
    margin-left:500px;
    margin-right:500px;
    background-image: url("Screenshot\ 2025-12-12\ 094342.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
h1
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
p
{
    font-family:'seogoe ui', Tahoma, Geneva, Verdana, sans-serif;
    
}
p3
{
    font-style: oblique;
    color: #aa1d1d;
}
p4
{
    display: block;
}
p5
{
    display: block;
}
h4
{
    text-align: left;
}
.quote-box
{
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    background-color: lightgoldenrodyellow;
    font-family: cursive;
    font-size: 14px;
    border-left: 10px solid gray;

}
.pic-box
{

    border: 2px solid black;
    padding: 10px;
    margin-top: 40px;
    background-color: lightgoldenrodyellow;
    font-family: cursive;
    font-size: 14px;
    border-left: 10px solid gray;




}
.end-box
{
    
    border: 2px solid black;
    padding: 5px;
    margin-top: 100px;
    background-color: lightgoldenrodyellow;
    font-family: cursive;
    font-size: 14px;
    border-left: 10px solid gray;
    color:rgb(138, 43, 226);
    
    
    

}
.price
{
    display: block;
    text-align:right;
    
    
}
